{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },

    "settings": {
        "react": {
            "version": "16.0"
        }
    },

    "plugins": [
        "react"
    ],

    "extends": [
        "standard-jsx"
    ],

    "rules": {
        "react/jsx-no-bind": ["error", {
            "allowArrowFunctions": true,
            "allowBind": false,
            "ignoreRefs": true
        }],
        "quotes": ["warn", "double"],
        "jsx-quotes": ["error", "prefer-double"],
        "semi": "warn",
        "react/no-did-update-set-state": "error",
        "react/no-unknown-property": "error",
        "react/no-unused-prop-types": "error",
        "react/prop-types": "error",
        "react/jsx-indent": [
            "warn",
            4
        ],
        "react/jsx-indent-props": "off",
        "react/react-in-jsx-scope": "error",
        "react/jsx-tag-spacing": "off",
        "no-extra-semi": "error"
    }
}
