@import '../../../static/scss/common.scss';

.nav_header {
    @include flexContentRightAlign;
    align-items: center;
    //background: rgb(0, 21, 41);
    padding: 0 16px;
    box-shadow: 14px 0 10px 3px #999999;

    .drop_down {
        cursor: pointer;
    }
}


.editor_nav_header {
    display: flex;
    //background: $white;
    padding: 0 16px;

    .left {
        width: 50%;
    }

    .right {
        @include flexContentRightAlign;
        width: 50%;
        align-items: center;
    }

}
