@import '../../../static/scss/common.scss';

.nav_header {
    @include flexContentRightAlign;
    align-items: center;
    background: $white;
    padding: 0 16px;

    .drop_down {
        cursor: pointer;
    }
}


.editor_nav_header {
    display: flex;
    background: $white;
    padding: 0 16px;

    .left {
        width: 50%;
    }

    .right {
        @include flexContentRightAlign;
        width: 50%;
        align-items: center;
    }

}
